name: Test Linux

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  node:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        node-version: [20, 22, 24]

    steps:
      - uses: actions/checkout@v6
      - uses: actions/setup-python@v6
        with:
          python-version: "3.12"
      - name: Use Node.js ${{ matrix.node-version }}
        uses: actions/setup-node@v6
        with:
          node-version: ${{ matrix.node-version }}
      - name: Npm install
        run: |
          npm i
      - name: Unit tests
        run: |
          npm test
      - name: Test examples
        run: |
          script/parse-examples
        shell: bash

  rust:
    runs-on: ${{ matrix.os }}

    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]

    steps:
      - uses: actions/checkout@v6
      - uses: actions-rs/toolchain@v1
        with:
          toolchain: stable
      - name: lint
        uses: actions-rs/cargo@v1
        with:
          command: clippy
      - name: test
        uses: actions-rs/cargo@v1
        with:
          command: test
